/* A mãe de todos */
.main_login{
    height: 100vh;
    display: flex;
}

/* Banner da esquerda */
.banner{
    flex: 1;
    background-image: url("../../assets/img/fundoLogin.png");

    /* Modificar algumas caracteristicas da imagem */
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* Form de login da direita */
.section_login{
    flex: 1;
    background-color: #CC3F55;
    /* Centralizar campo */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form_login{
    width: 70%;
    height: 50%;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.form_login h1{
    text-decoration: uppercase;
}

/* .section_login img{
    width: 200px;
} */

.campos_login{
    width: 100%;
}

.campo_input {
    display: flex;
    flex-direction: column;
}

.campo_input input{
    height: 30px;
    margin-top: 7px;
    padding: 0px 10px;

    border: none;
    outline: none;
    border-radius: 5px; 
    box-shadow: 1px 4px 4px 0px #00000045;
}

@media screen and (max-width: 768px){ /*Me dá caracteristicas a partir de um tamnaho da tela */
   .banner{
    display: none;
   }
}